<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>


<body>
    <div class=" main-content">
        {{>header}}
        <p>
            Este site foi criado por Mariani Pereira, como etapa do aprendizado sobre Node.js, em um curso da udemy. 
            Essa aplicação  utiliza uma api pública para obter informações sobre o tempo, o objetivo dela é mostrar a previsão do tempo, para uma região desejada, bastando somente informar
            o nome da região.
        </p>
        <img src="/img/girassol.jpg" alt="profileImage" class="portrait">
    </div>
    {{>footer}}
</body>



</html>